<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ball_rubber">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.66590430475141E-19 0 0"
        rpy="0 0 0" />
      <mass
        value="0.0351446902622247" />
      <inertia
        ixx="5.80453078261169E-06"
        ixy="0"
        ixz="1.0331493317774E-37"
        iyy="5.80453078261169E-06"
        iyz="0"
        izz="5.80453078261169E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ball_rubber/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ball_rubber/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>